      @font-face {
          font-family: "Junicode-Condensed";
          src: url("fonts/junicode-sarah/condensed/Junicode-RegularCondensed.ttf");
          font-weight: normal;
          font-style: normal;
      }
      @font-face {
          font-family: "Junicode-Condensed";
          src: url("fonts/junicode-sarah/condensed/Junicode-BoldItalicCondensed.ttf");
          font-weight: bold;
          font-style: italic;
      }
      @font-face {
          font-family: "Junicode-Condensed";
          src: url("fonts/junicode-sarah/condensed/Junicode-BoldCondensed.ttf");
          font-weight: bold;
          font-style: normal;
      }
      @font-face {
          font-family: "U001";
          src: url("fonts/u001-font-univers/webfonts/U001-Reg.woff");
          font-weight: normal;
          font-style: normal;
      }
      @font-face {
          font-family: "U001";
          src: url("fonts/u001-font-univers/webfonts/U001-Bol.woff");
          font-weight: bold;
          font-style: normal;
      }
      @font-face {
          font-family: "U001";
          src: url("fonts/u001-font-univers/webfonts/U001-BolIta.woff");
          font-weight: bold;
          font-style: italic;
      }
      @font-face {
          font-family: "U001";
          src: url("fonts/u001-font-univers/webfonts/U001-Ita.woff");
          font-weight: normal;
          font-style: italic;
      }
      
      body div {
        font-family: 'U001';
        font-size: 1.3em;
        line-height: 1.2em;
        color: #000080;
      }
      
      p {
        margin: 2mm 3mm 2mm 4mm;
      }

      .bg {
        background-image:url('balloon.svg');
        width:500px;
        height:357px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 120%;
        background-color: #ffdbdb;
        border: 10px solid #000080;
        padding: 6mm 6mm 6mm 6mm;
        margin: 0mm 10mm 10mm 10mm;
        fill: red;
        stroke: green;
       }

      hr {
        display:none;
      }
      
      .content {
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
        /* margin: 5mm; */
      }
      
      article {
        float:left;
        position:relative;
        border: 2px solid black;
        margin: 3mm;
        padding: 2mm;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis:22%;
      }
      
      .large {
        width:50%;
      }
      
      .tight {
        width:15%;
      }
      
      h1, h2, h3 {
        font-family: 'Junicode-Condensed';
        font-size: 5em;
        line-height: 0.8em;
        margin: 10mm 10mm 10mm 10mm;
        color: #ff5100;
        width: 500px;
      }
      
      img {
        height: 62mm;
      }
      
      article:nth-of-type(4n) {
        flex-grow: 1;
        flex-shrink: 3;
        flex-basis:35%;
      }
      
      article:nth-of-type(7n) {
        flex-grow: 1;
        flex-shrink: 5;
        flex-basis:15%;
      }
      
      .labelbold tspan {
        font-family: 'U001' !important;
        font-weight: bold !important;
      }
      
      .labellight textPath {
        font-family: 'U001' !important;
        font-weight: normal !important;
      }
      
      .follow path {
        stroke-width: 1.5px !important;
        fill: #ffdbdb;
        stroke: #000080;
        stroke-linecap: round;
        stroke-linejoin: round;
      }