@font-face {
    font-family: "Junicode-Condensed";
    // src: url("https://github.com/Fromager/junicode/blob/master/fonts/Junicode-RegularCondensed.ttf?raw=true");
    src: url("../../fonts/junicode-sarah/condensed/Junicode-RegularCondensed.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Junicode-Condensed";
    src: url("../../fonts/junicode-sarah/condensed/Junicode-BoldItalicCondensed.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Junicode-Condensed";
    src: url("../../fonts/junicode-sarah/condensed/Junicode-BoldCondensed.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "U001";
    src: url("../../fonts/u001-font-univers/webfonts/U001-Reg.woff");
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("../../fonts/u001-font-univers/webfonts/U001-Bol.woff");
    font-weight: Bold;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("../../fonts/u001-font-univers/webfonts/U001-BolIta.woff");
    font-weight: Bold;
    font-style: italic;
}
@font-face {
    font-family: "U001";
    src: url("../../fonts/u001-font-univers/webfonts/U001-Ita.woff");
    font-weight: regular;
    font-style: italic;
}

body {
  /* background: red; */
  font-family: 'U001';
}

.content {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

article {
  width:25%;
  float:left;
  position:relative;
  border: 1px solid black;
  background-color: yellow;
}


h1, h2, h3 {
  font-family: 'Junicode-Condensed';
  font-size: 3em;
}



p {
  border:1px solid black;

}

/* article:nth-of-type(odd) {
  background: #F3F3F3;
} */
