:root {
  --color-pink: #fcbfc4;
  --color-blue: #112b92;
  --color-orange: #ff5900;
  --color-black: #000000;
  --color-white: #ffffff;
}

@font-face {
    font-family: "Junicode-Condensed";
    // src: url("https://github.com/Fromager/junicode/blob/master/fonts/Junicode-RegularCondensed.ttf?raw=true");
    src: url("../fonts/junicode-sarah/condensed/Junicode-RegularCondensed.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Junicode-Condensed";
    src: url("../fonts/junicode-sarah/condensed/Junicode-BoldItalicCondensed.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Junicode-Condensed";
    src: url("../fonts/junicode-sarah/condensed/Junicode-BoldCondensed.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "U001";
    src: url("../fonts/u001-font-univers/webfonts/U001-Reg.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("../fonts/u001-font-univers/webfonts/U001-Bol.woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("../fonts/u001-font-univers/webfonts/U001-BolIta.woff");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "U001";
    src: url("../fonts/u001-font-univers/webfonts/U001-Ita.woff");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "caveat";
    src: url("../fonts/Caveat.ttf");
    font-weight: normal;
    font-style: italic;
}


body {
  font-family: 'U001';
  font-size: 1.3em;
  line-height: 1.2em;
}

#btn_print {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

p {
  margin: 2mm 3mm 2mm 4mm;
}

hr {
  display:none;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  /* margin: 5mm; */
}

article {
  float:left;
  position:relative;
  border: 3px solid var(--color-blue);
  background: var(--color-white);
  color: black;
  margin: 3mm;
  padding: 2mm;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis:22%;
}

article:nth-of-type(4n) {
  flex-grow: 1;
  flex-shrink: 3;
  flex-basis:35%;
}

article:nth-of-type(7n) {
  flex-grow: 1;
  flex-shrink: 5;
  flex-basis:15%;
}

h1, h2, h3 {
  line-height: 0.8em;
  margin: 3mm 2mm 3mm 4mm;
  color: var(--color-orange);
  font-weight: normal;
}


h1 {
  font-family: 'Junicode-Condensed';
  font-size: 4em;
  -webkit-text-stroke:2px var(--color-orange);
  color: var(--color-white);
  font-weight: bold;
}

h2, h3 {
  font-family: 'Junicode-Condensed';
  font-weight: bold;
  font-size: 2em;
  color:black;
}

a, a:link, a:visited {
  color:var(--color-orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  font-family: 'Junicode-Condensed';
  color:var(--color-blue);
  font-size: 1.6em;
  line-height: 1.1em;
  margin: 0;
}

footer {
  font-family: 'U001';
}

article#art7 {
  border: none;
  background-image: url("../img/phylactery-01.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

article#art31 {
  border: none;
  background-image: url("../img/phylactery-02.svg"), url("../img/carton-dessin-coulant.svg");
  background-repeat: no-repeat, repeat;
  background-size: contain;
}

article#art28 h1 {
  margin:21px 0px 0px 35px;
}

/*article#art33 {
  border: none;
  background-image: url("../img/phylactery-02.svg");
  background-repeat: no-repeat;
  background-size: contain;
}*/

.labelbold tspan {
  font-family: 'U001' !important;
  font-weight: bold; !important;
}

.labellight textPath {
  font-family: 'U001' !important;
  font-weight: normal; !important;
}

/* Style Images */

img {
  max-width: 100%;
  height: auto;
}

img[alt=tiny] {
  width: 25%;
}

img[alt=small] {
  width: 50%;
}

img[alt=medium] {
  width: 75%;
}

img[src$='#right']{
  float: right;
}

img[alt=bottom]{
  margin-top:50%;
}


/* Style Print */

@page {
  size: 210mm 297mm;
  margin: 5mm 9mm 5mm 9mm;
}


@media print {
  html, body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    /*line-height: 1.2em;*/
  }

  .content {
    display: block;
    flex-wrap: inherit;
    justify-content: inherit;
  }

  .row {
    page-break-inside: avoid;
    display: flex;
  }

  .row:nth-of-type(2n) article:first-of-type{
    flex-grow: 1;
    flex-shrink: 5;
    flex-basis:10%;
  }

  .row:nth-child(5n+1):nth-child(even) article:nth-of-type(2){
    /*background-color:var(--color-pink);*/
    /*color:var(--color-white);*/
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis:60%;
  }

  article {
    border: 3px solid black;
    color: black;
    margin: 1mm;
    padding: 1mm;
  }

  h1 {
    color: white;
    -webkit-text-stroke:2px black;
  }

  h2, h3 {
    font-family: 'Junicode-Condensed';
    font-size: 2em;
    color:black;
  }

  a, a:link, a:visited {
    color:black;
    text-decoration: underline;
  }

  #btn_print {
    display: none;
  }

}
